# Python Basics


Python is an easy to learn , powerful programming language. Python’s elegant syntax and dynamic typing, 
together with its interpreted nature, make it an ideal language for scripting and rapid application development.

# Maths Operators

Operators  	   Operation	            Example

**	           Exponent	                2 ** 3 = 8
%	           Modulus/Remainder	    22 % 8 = 6
//	           Integer division	        22 // 8 = 2
/	           Division	                22 / 8 = 2.75
*	           Multiplication	        3 * 3 = 9
-	           Subtraction	            5 - 2 = 3
+	           Addition	                2 + 2 = 4

In [1]:
#Examples of expressions

In [2]:
5 + 3 * 4

17

In [3]:
(7 + 3) * 6

60

In [4]:
3 ** 5

243

In [5]:
30 // 7

4

In [6]:
35 % 8

3

In [12]:
(6-1) * ((5-2) / (8 - 3))

3.0

#Augumented Assignment Operators

Operator               Equivalent

a += 1                 a = a + 1
a -= 1                 a = a - 1
a *= 1                 a = a * 1
a /= 1                 a = a / 1
a %= 1                 a = a % 1

In [14]:
#Examples

In [20]:
name = 'Sandeep'

In [21]:
name += ' Bandi'

In [22]:
name

'Sandeep Bandi'

In [24]:
num = 5
num += 8
num

13

In [26]:
lst = [ 'pen']
lst *= 3
lst

['pen', 'pen', 'pen']

# Data Types

--> Integers
    Ex: -2, -1, 0, 1, 2, 3, 4, 5 
        
--> Floating Numbers
    Ex: -1.25, -1.0, -0.5, 0.0, 1.0, 1.25

--> Strings
    Ex: 'sandeep', 'bandi', 'Hello', '20 rupees'

## Concatination and Replication

### String Concatination

In [27]:
'Sandeep' + ' Bandi'

'Sandeep Bandi'

In [30]:
'Hi' + ' 15'

'Hi 15'

### string Replication

In [31]:
'Sandeep' * 3

'SandeepSandeepSandeep'

In [32]:
'25' * 5

'2525252525'

## Variables

You can name a variable anything as long as it obeys the following rules

In [33]:
# 1.It can have only one word

my name = 'Sandeep'

SyntaxError: invalid syntax (3374394367.py, line 3)

In [35]:
name = 'sandeep'
name

'sandeep'

In [36]:
# 2. It can use only letters , numbers, underscore('_') characters.

%$@name = 'Sandeep'

UsageError: Line magic function `%$@name` not found.

In [37]:
my_name = 'Sandeep Bandi'
my_name

'Sandeep Bandi'

In [38]:
my_name_capital = 'SANDEEP BANDI'
my_name_capital

'SANDEEP BANDI'

In [39]:
# 3. It cannot begin with number
924_name = 'Sandeep'

SyntaxError: invalid decimal literal (3673271857.py, line 2)

In [40]:
#4. Variable name starting with an underscore (_) are considered as “unuseful”

_name = 'Sandeep'

# _spam cannot be used again in the code

## Comments

Inline comment:
    
    # This is comment
    
Multiline comment:
    # Hi
    # python

In [43]:
a = 1 # intialization

## The print() Function
The print() function writes the value of the argument(s) it is given. It handles multiple arguments, floating point-quantities, and strings. Strings are printed without quotes, and a space is inserted between items, so you can format things nicely:

In [47]:
print('Hello python!')

Hello python!

In [48]:
a = 1
print('Hello Python! ', a)

Hello Python!  1

### The end keyword in Print Function()
The keyword argument "end"can be used to avoid the newline after the output, or end the output with a different string.

In [51]:
sentence = ['Hello', 'My', 'Name','Is','Sandeep','Bandi']
for i in sentence:
    print(i , end='-')

Hello-My-Name-Is-Sandeep-Bandi-

### The Sep keyword in Print Function()
The keyword "sep" specify how to separate the objects, if there is more than one:

In [52]:
print('apple', 'mango','orange','banana', sep=',')

apple,mango,orange,banana

## The input() Function
The function takes the input from the user and converts it into a string.

In [54]:
print('What is your name ? ')
my_name = input()
print('Hi,{}'.format(my_name))

What is your name ?
Sandeep Bandi
Hi,Sandeep Bandi

In [56]:
# input() can also set a default message without using print()

my_name = input('what is your name ?')   #default message
print('Hi, {}'.format(my_name))

what is your name ?Sandeep Bandi
Hi, Sandeep Bandi

In [57]:
# It is also possible to use formatted strings to avoid using .format

my_name = input('what is your name ?')   #default message
print(f'Hi, {my_name}')

what is your name ?Sandeep Bandi
Hi, Sandeep Bandi

## The len() Function
Evaluates to the integer value of the number of characters in a string, list, dictionary, etc.

In [58]:
len('python')

6

In [59]:
len(['cat',45,'elephant'])

3


### The str(), int(), and float() Functions
These functions allow you to change the type of variable. For example, you can transform from an integer or float to a string

In [63]:
str(26)

'26'

In [64]:
str(-3.14)

'-3.14'

In [65]:
# str to int or float
int('15')

15

In [66]:
float('3.14')

3.14

In [ ]:
## Type casting

In [62]:
num = 45
print(type(num))

#type casting int to str
a = str(num)
print(type(a))

<class 'int'>
<class 'str'>